body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  overflow-x: auto;
}

.App {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f9fa;
  justify-content: center;
  min-height: 100vh;
}

.App-container {
  min-height: 100vh;
}

a:hover {
  text-decoration: none;
  color: black;
}

a:active {
  opacity: .5;
}

input:disabled {
  background-color: #b2dffc;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form-control::placeholder {
  color: #bbb !important;
}